@import "./reset.css";
@import "./variables.css";
@import "normalize.css/normalize.css";
@import "@mantine/core/styles.css";

/* Apply a natural box layout model to all elements */
* {
    box-sizing: border-box;
}

html,
body {
    /* Font display strategy */
    font-variant: normal;
    font-feature-settings: normal;
    -webkit-text-size-adjust: 100%;
    font-family: var(--system-font-families);
    background-color: var(--color-zinc-900);
}

body.main-gradient {
    /* Add a modern pattern background */
    background-image: linear-gradient(
            30deg,
            var(--color-zinc-800) 12%,
            transparent 12.5%,
            transparent 87%,
            var(--color-zinc-800) 87.5%,
            var(--color-zinc-800)
        ),
        linear-gradient(150deg, var(--color-zinc-800) 12%, transparent 12.5%, transparent 87%, var(--color-zinc-800) 87.5%, var(--color-zinc-800)),
        linear-gradient(30deg, var(--color-zinc-800) 12%, transparent 12.5%, transparent 87%, var(--color-zinc-800) 87.5%, var(--color-zinc-800)),
        linear-gradient(150deg, var(--color-zinc-800) 12%, transparent 12.5%, transparent 87%, var(--color-zinc-800) 87.5%, var(--color-zinc-800)),
        linear-gradient(60deg, var(--color-zinc-700) 25%, transparent 25.5%, transparent 75%, var(--color-zinc-700) 75%, var(--color-zinc-700)),
        linear-gradient(60deg, var(--color-zinc-700) 25%, transparent 25.5%, transparent 75%, var(--color-zinc-700) 75%, var(--color-zinc-700));
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.combobox-dropdown {
    width: 380px !important;

    @media (max-width: 768px) {
        width: 240px !important;
    }
}
