:root {
    /* Fonts */
    --system-font-families: -apple-system, "system-ui", "BlinkMacSystemFont", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-mono: ui-monospace, monospace;

    /* Colors */
    --color-neutral-800: #262626;
    --color-neutral-950: #0a0a0a;

    --color-zinc-700: #3f3f46;
    --color-zinc-800: #27272a;
    --color-zinc-900: #18181b;

    --color-stone-950: #0c0a09;

    --color-gray-100: #f3f4f6;

    /* Z-indexes */
    --overlay-z-index: 1;
    --crypto-exchange-widget-z-index: calc(var(--overlay-z-index) + 1);
}
